.animations {
    min-width: 250 * $ptr;
}

.animations__list {
    display: flex;

    flex-direction: column;

    gap: 10 * $ptr;

    padding: 10 * $ptr;

    border-radius: $border-radius;
}

.animations__item {
    display: flex;

    flex-direction: row;

    gap: 8 * $ptr;

    align-items: center;

    justify-content: space-between;

    padding: 5 * $ptr 10 * $ptr;

    min-width: 0;

    font-family: monospace;

    border-radius: $border-radius;
    user-select: none;

    &:hover {
        background-color: var(--background-color-hover);
    }

    &--playing {
        background-color: var(--background-color-alt);
    }
}

.animations__item-name {
    flex: 1;

    min-width: 0;

    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}

.animations__item-icon {
    display: flex;

    flex-shrink: 0;

    align-items: center;

    svg {
        width: 16 * $ptr;
        height: 16 * $ptr;
    }
}

.animations__stop-icon {
    color: var(--icon-red);
}

.animations__controls {
    display: flex;

    flex-direction: row;

    gap: 10 * $ptr;

    border-bottom: 1px solid var(--border-color);
}

.animations__controls-item {
    display: flex;

    flex-direction: row;

    gap: 8 * $ptr;

    align-items: center;

    justify-content: space-between;

    padding: 10 * $ptr;

    border-radius: $border-radius;

    &:hover {
        background-color: var(--background-color-alt);
    }

    svg {
        width: 16 * $ptr;
        height: 16 * $ptr;
    }
}

  .animations-header__close {
    svg {
      width: 16 * $ptr;
      height: 16 * $ptr;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
