:root {
  --background-color: #252526;
  --background-color-alt: #444;
  --background-color-dark: #1E1E1E;
  --slider-background-color: #333;
  --slider-bar-color: #555;
  --slider-text-color: #CCC;
  --text-color: #CCC;
  --text-color-alt: #767676;
  --icon-green: #50AF8E;
  --icon-orange: #F4B675;
}
