@mixin user-select($value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
      #{$vendor}user-select: #{$value};
  }
}

$ptr: 0.0625rem;

*, *::after, *::before {
    box-sizing: border-box;
}

body, html {
  display: flex;

  margin: 0;

 padding: 0;

  width: 100vw; height: 100vh;
  overflow: hidden;

  scrollbar-color: var(--background-color-alt) var(--background-color);
  scrollbar-width: thin;
}

.container {
  display: flex;

  position: relative;

  width: 100%;
  height: 100%;
}

div.hidden {
  display: none;
}

.hidden {
  display: none;
}

.faded {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

div.button {
  cursor: pointer;
  @include user-select(none);
}
