.geometries {
  min-width: 600 * $ptr;

  color: var(--text-color);
}

  .geometries-content {
    padding: 0 !important;
  }

  .geometries__icon {

    cursor: pointer;

    width: 18 * $ptr;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      width: 16 * $ptr;
      height: 16 * $ptr;
    }
  }

  .geometries__name {
    width: 100 * $ptr;
  }

  .geometries__meshes {
    width: 125 * $ptr;
  }

  .geometries-row__attribute {
    text-overflow: ellipsis;

    overflow-x: hidden;
  }

  .geometries-header__close {
    svg {
      width: 16 * $ptr;
      height: 16 * $ptr;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .geometries-table {
    width: 100%;

    border-collapse: collapse;

    th {
      position: sticky;
      top: 0;
      z-index: 1;

      background-color: var(--background-color);
    }

    th, td {
      padding: 10 * $ptr;

      max-width: 150 * $ptr;

      font-size: 12 * $ptr;

      text-align: left;
      text-overflow: ellipsis;

      white-space: nowrap;
      overflow: hidden;
    }

    tr {
      &:nth-child(even) {
        background-color: var(--background-color-alt);
      }

      &:hover {
        background-color: var(--background-color-hover);
        transform: scale(1.01);
        cursor: pointer;
        transition: transform 0.1s ease-in-out;
      }

      &.selected {
        td {
          overflow: hidden;

          border-top: 1px solid var(--border-color-alt);
          border-bottom: 1px solid var(--border-color-alt);
        }

        td:first-child {
          border-left: 1px solid var(--border-color-alt);

          border-radius: 0 $border-radius $border-radius 0;
        }

        td:last-child {
          border-right: 1px solid var(--border-color-alt);

          border-radius: 0 $border-radius $border-radius 0;
        }
      }
    }

  }

  .geometries__mesh-name {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
