.materials {
  min-width: 600 * $ptr;

  color: var(--text-color);
}

  .materials-content {
    padding: 0 !important;
  }

  .materials__icon {

    cursor: pointer;

    width: 18 * $ptr;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      width: 16 * $ptr;
      height: 16 * $ptr;
    }
  }

  .materials-header__close {
    svg {
      width: 16 * $ptr;
      height: 16 * $ptr;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .materials-item {
    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: space-between;

    padding: 8 * $ptr;

    &.selected {
      border: 1px solid var(--border-color-alt);

      border-radius: $border-radius;
    }

    &:hover {
      background-color: var(--background-color-hover);
      transform: scale(1.01);
      cursor: pointer;
      transition: transform 0.1s ease-in-out;
    }

    &:nth-child(even) {
      background-color: var(--background-color-alt);
    }

  }

  .materials-row__name {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .materials-row__type {

  }

  .materials-row__mesh-name {
    &:hover {
      cursor: pointer;

      text-decoration: underline;
    }
  }

  .materials-table {
    width: 100%;

    border-collapse: collapse;

    th {
      position: sticky;
      top: 0;
      z-index: 1;

      background-color: var(--background-color);
    }

    th, td {
      padding: 8 * $ptr;

      max-width: 150 * $ptr;

      font-size: 11 * $ptr;

      text-align: left;
      text-overflow: ellipsis;

      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
    }

    tr {
      &:nth-child(even) {
        background-color: var(--background-color-alt);
      }

      &:hover {
        background-color: var(--background-color-hover);
        cursor: pointer;
      }

      &.selected {
        outline: 1px solid var(--border-color-alt);
        outline-offset: -1px;

        border-radius: $border-radius;
      }
    }

  }
