.panel {
  position: absolute;
  top: 10 * $ptr;
  left: 10 * $ptr;
  z-index: 10;
}

    .panel-button-label {
      display: none;
    }

    .panel-buttons {
      display: flex;

      flex-direction: column;

      row-gap: 10 * $ptr;

      align-items: center;

      width: 40 * $ptr;

      color: var(--text-color);

      &--open {
        width: 150 * $ptr;

        .panel-button-label {
          display: block;
        }
      }
    }

      .panel-button {
        display: flex;

        flex-direction: row;

        column-gap: 30 * $ptr;

        align-items: center;

        padding: 10 * $ptr;

        width: 100%;

        color: var(--text-color);

        background-color: var(--background-color);

        border-radius: $border-radius;

        &:hover {
          background-color: var(--background-color-alt);

          box-shadow: 0 0 10 * $ptr rgb(0 0 0 / 50%);
        }

        &--active {
          color: var(--icon-green);
        }
      }

      .panel-button-icon {
        width: 20 * $ptr;
        height: 20 * $ptr;

        svg {
          width: 100%;
          height: 100%;
        }
      }

    .panel-content {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      width: 100%;
      height: 100%;

      border-radius: $border-radius;
      pointer-events: none;

      & > * {
        pointer-events: auto;
      }
    }
