.panel {
  position: absolute;
  top: 10 * $ptr;
  left: 10 * $ptr;
  z-index: 10;

  background-color: var(--background-color);

}

    .panel-headers {
      display: flex;

      align-items: center;

      width: 100%;

      color: var(--text-color);
    }

      .panel-header__item {
        flex-grow: 1;

        padding: 10 * $ptr;

        text-align: center;

        &:hover {
          background-color: var(--background-color-alt);
        }

        &--active {
          border-bottom: 2 * $ptr solid var(--text-color);
        }
      }

    .panel-content {
      padding: 10 * $ptr;
      overflow-y: auto;
    }
