.resize-window {
  display: flex;

  flex-direction: column;

  position: absolute;
  top: 10 * $ptr;
  left: 60 * $ptr;
  z-index: 10;

  width: 350 * $ptr;
  height: 400 * $ptr;

  color: var(--text-color);

  font-family: monospace;

  background: var(--background-color);

  border-radius: $border-radius;

  box-shadow: 0 0 8 * $ptr rgb(0 0 0 / 20%);
  box-sizing: border-box;

  &--focused {
    z-index: 11;

    box-shadow: 0 0 2rem 6px #00000080;
  }

  &.shake {
    animation: shake 0.5s ease-in-out;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(5 * $ptr); }
    50% { transform: translateX(-5 * $ptr); }
    75% { transform: translateX(5 * $ptr); }
    100% { transform: translateX(0); }
  }
}

.resize-grab-handle {
  display: flex;

  flex-direction: row;

  align-items: center;

  justify-content: space-between;

  padding: 10 * $ptr;

  height: 30 * $ptr;

  background: var(--background-color-dark);

  border-radius: $border-radius;
  cursor: move;

  &:hover {
    background: var(--background-color-alt);

    box-shadow: 0 0 8 * $ptr rgb(0 0 0 / 20%);
  }
}

.resize-content-wrapper {
  height: calc(100% - 30 * $ptr);

  overflow: hidden auto;

  border-radius: $border-radius;
}

.resize-content {
  padding: 10 * $ptr;

  background: var(--background-color);

  border-radius: $border-radius;

}

.resize-handle {
    position: absolute;
    z-index: 10;

    width: 7 * $ptr;
    height: 7 * $ptr;

    border-radius: $border-radius;

    pointer-events: auto;

    // background: rgb(0 0 0 / 30%);
  }

  .resize-handle--top {
    top: -5 * $ptr;
    left: 50%;

    width: 100%;

    transform: translateX(-50%);
    cursor: n-resize;

    &:hover {
      border-top: 1 * $ptr solid var(--text-color);
    }
  }

  .resize-handle--right  {
    top: 50%;
    right: -5 * $ptr;

    height: 100%;
    transform: translateY(-50%);
    cursor: e-resize;

    &:hover {
      border-right: 1 * $ptr solid var(--text-color);
    }
  }

  .resize-handle--bottom {
    bottom: -5 * $ptr;
    left: 50%;

    width: 100%;

    transform: translateX(-50%);
    cursor: s-resize;

    &:hover {
      border-bottom: 1 * $ptr solid var(--text-color);
    }
  }

  .resize-handle--left {
    top: 50%;
    left: -5 * $ptr;

    height: 100%;
    transform: translateY(-50%);
    cursor: w-resize;

    &:hover {
      border-left: 1 * $ptr solid var(--text-color);
    }
  }

  .resize-handle--top-left     {
    top: -5 * $ptr;
    left: -5 * $ptr;
    cursor: nwse-resize;

    &:hover {
      background-color: var(--background-color-alt);
    }
  }

  .resize-handle--top-right  {
    top: -5 * $ptr;
    right: -5 * $ptr;
    cursor: nesw-resize;

    &:hover {
      background-color: var(--background-color-alt);
    }
  }

  .resize-handle--bottom-left  {
    bottom: -5 * $ptr;
    left: -5 * $ptr;
    cursor: nesw-resize;

    &:hover {
      background-color: var(--background-color-alt);
    }
  }

  .resize-handle--bottom-right {
    right: -5 * $ptr;
    bottom: -5 * $ptr;
    cursor: nwse-resize;

    &:hover {
      background-color: var(--background-color-alt);
    }
  }
