.settings {
    position: absolute;
    top: 10 * $ptr;
    right: 10 * $ptr;
    z-index: 100;

    border-radius: 5 * $ptr;
}

.settings-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  padding: 10 * $ptr;

  color: var(--text-color);

  background-color: var(--background-color);

  border-radius: 5 * $ptr;

  svg {
    margin-bottom: -2 * $ptr;

    width: 20 * $ptr;
    height: 20 * $ptr;
  }

  &:hover {
    background-color: var(--background-color-alt);

    box-shadow: 0 0 10 * $ptr rgb(0 0 0 / 50%);
  }
}

.settings__content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  padding: 5 * $ptr;

  min-width: 200 * $ptr;

  background-color: var(--background-color);

  border-radius: 5 * $ptr;

  box-shadow: 0 0 8 * $ptr #fff3;
}

.settings__action {
  display: flex;

  flex-direction: row;

  column-gap: 10 * $ptr;

  padding: 2.5 * $ptr 5 * $ptr;

  color: var(--text-color);

  border-radius: 5 * $ptr;

  &:hover {
    background-color: var(--background-color-alt);
  }
}

.settings__extra-action {
  display: flex;

  flex-direction: column;

  row-gap: 5 * $ptr;

  align-items: flex-start;

  padding: 5 * $ptr;

}

  .settings__action-label {
    color: var(--text-color);

    font-size: 12 * $ptr;
  }

.settings__icon {
  width: 16 * $ptr;
  height: 16 * $ptr;

  color: var(--text-color);

  svg {
    width: 100%;
    height: 100%;
  }
}
