.settings {
    position: absolute;
    right: 10 * $ptr;
    bottom: 10 * $ptr;
    z-index: 10;

    background-color: var(--background-color);

    border-radius: 5 * $ptr;
}

.settings-button {
  padding: 5 * $ptr;

  color: var(--text-color);

  border-radius: 5 * $ptr;

  svg {
    margin-bottom: -2 * $ptr;

    width: 24 * $ptr;
    height: 24 * $ptr;
  }

  &:hover {
    background-color: var(--background-color-alt);
  }
}

.settings__content {
  position: absolute;
  right: 35 * $ptr;
  bottom: 35 * $ptr;
  z-index: 10;

  padding: 5 * $ptr;

  min-width: 200 * $ptr;

  background-color: var(--background-color);

  border-radius: 5 * $ptr;
}

.settings__action {
  display: flex;

  flex-direction: row;

  column-gap: 10 * $ptr;

  padding: 2.5 * $ptr 5 * $ptr;

  color: var(--text-color);

  border-radius: 5 * $ptr;

  &:hover {
    background-color: var(--background-color-alt);
  }
}

.settings__extra-action {
  display: flex;

  flex-direction: column;

  row-gap: 5 * $ptr;

  align-items: flex-start;

  padding: 5 * $ptr;

}

  .settings__action-label {
    color: var(--text-color);

    font-size: 12 * $ptr;
  }

.settings__icon {
  width: 16 * $ptr;
  height: 16 * $ptr;

  color: var(--text-color);

  svg {
    width: 100%;
    height: 100%;
  }
}
