.textures {
    width: 100%;
    height: 100%;
    max-height: 300 * $ptr;

    color: var(--text-color);

    font-family: monospace;

    background: var(--background-color);
    box-sizing: border-box;

    overflow: hidden auto;
}

  .texture-node {
    display: flex;

    flex-direction: row;

    gap: 8 * $ptr;

    align-items: center;

    justify-content: space-between;

    padding: 5 * $ptr 10 * $ptr;

    font-family: monospace;

    border-radius: 4 * $ptr;
    user-select: none;
  }

  .texture-node:hover {
    background-color: var(--background-color-alt);
  }

  .texture-node__label {
    flex: 1;

    font-size: 12 * $ptr;

    text-overflow: ellipsis;
    overflow: hidden;
  }

  .texture-node__material-name {
    flex: 1;
    overflow: hidden;

    text-overflow: ellipsis;
  }

  .texture-node__type {
    flex: 0.4;

    text-align: left;
  }

  .texture-node__resolution {
    flex: 0;

    color: var(--text-color-alt);

    font-size: 12 * $ptr;
  }

//   .texture-node__label-wrapper {
//     display: flex;

//     align-items: center;
//     cursor: pointer;

//     border-radius: 4 * $ptr;
//   }

//   .texture-node__label-wrapper:hover {
//     background-color: var(--background-color-alt);
//   }

//   .texture-node__icon {
//     display: flex;

//     flex-shrink: 0;

//     align-items: center;

//     justify-content: center;

//     margin-right: 4 * $ptr;

//     width: 16 * $ptr;
//     height: 16 * $ptr;

//     transition: transform 0.1s ease;
//   }

//   .texture-node__icon--object {
//     color: var(--icon-green);
//   }

//   .texture-node__icon--empty-object {
//     color: var(--icon-orange);
//   }

//     .texture-node__label {
//     flex-grow: 1;

//     padding: 2 * $ptr 4 * $ptr;

//     min-width: 0;

//     font-size: 11 * $ptr;

//     text-overflow: ellipsis;

//     white-space: nowrap;
//     overflow: hidden;
//   }

//   .texture-node__action {
//     display: flex;

//     flex-shrink: 0;

//     align-items: center;

//     justify-content: center;

//     padding-right: 4 * $ptr;

//     width: 16 * $ptr;
//     height: 16 * $ptr;
//   }

//   .texture-node__children {
//     margin-left: 0; /* padding handled by depth * 10 * $ptr */
//   }
