.texture-preview {
}

  .texture-preview__header {
  }

  .texture-preview__content {
    overflow: hidden;
    display: flex;

    align-items: center;

    justify-content: center;
  }

  .texture-preview__image {
    width: fit-content;
    height: fit-content;
  }
