.tree-container {
    display: flex;

    flex-direction: column;

    width: 100%;

    color: var(--text-color);

    font-size: 13 * $ptr;

    background: var(--background-color);

    border-radius: 4 * $ptr;
    overflow: hidden;
  }

  .tree-header {
    display: flex;

    align-items: center;

    justify-content: center;

    padding: 5 * $ptr;

    background: var(--background-color);
    cursor: move;
  }

  .tree-header:hover {
    background: var(--background-color-alt);

    box-shadow: 0 0 8 * $ptr rgb(0 0 0 / 20%);
  }

  .tree {
    width: 100%;
    height: 100%;

    color: var(--text-color);

    font-family: monospace;

    background: var(--background-color);
    box-sizing: border-box;
    overflow: hidden auto;
  }

  .tree-node {
    padding-left: 10 * $ptr;

    font-family: monospace;
    user-select: none;
  }

  .tree-node__label-wrapper {
    display: flex;

    align-items: center;
    cursor: pointer;

    border-radius: 4 * $ptr;
  }

  .tree-node__label-wrapper:hover {
    background-color: var(--background-color-alt);
  }

  .tree-node__icon {
    display: flex;

    flex-shrink: 0;

    align-items: center;

    justify-content: center;

    margin-right: 4 * $ptr;

    width: 16 * $ptr;
    height: 16 * $ptr;

    transition: transform 0.1s ease;
  }

  .tree-node__icon--object {
    color: var(--icon-green);
  }

  .tree-node__icon--empty-object {
    color: var(--icon-orange);
  }

  .tree-node__label {
    flex-grow: 1;

    padding: 2 * $ptr 4 * $ptr;

    min-width: 0;

    font-size: 11 * $ptr;

    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
  }

  .tree-node__action {
    display: flex;

    flex-shrink: 0;

    align-items: center;

    justify-content: center;

    padding-right: 4 * $ptr;

    width: 16 * $ptr;
    height: 16 * $ptr;
  }

  .tree-node__children {
    margin-left: 0; /* padding handled by depth * 10 * $ptr */
  }
