@import 'colors';
@import 'common';
@import 'settings';
@import 'tree';
@import 'details';

.viewer {
  display: block;

  flex-grow: 1;
}

canvas {
  display: block;

  width: 100%;
  height: 100%;
}
