@import 'colors';
@import 'common';
@import 'settings';
@import 'tree';
@import 'panel';
@import 'info';
@import 'details';
@import 'slider';
@import 'textures';
@import 'texture_preview';
@import 'materials';
@import 'material_details';
@import 'geometries';
@import 'animations';
@import 'resize';

.viewer {
  display: flex;

  justify-content: center;

  position: absolute;

  width: 100%;
  height: 100%;
  touch-action: none;

  canvas {
      width: 100%;
      height: 100%;
  }
}
