.animations.hidden
    .animations__list
    .animations__controls
        .button.animations__controls-item(data-name="play-all")
            svg(fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                path(d="M10 20H8V4h2v2h2v3h2v2h2v2h-2v2h-2v3h-2v2z" fill="currentColor")
            | Play All
        .button.animations__controls-item(data-name="stop")
            svg(fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                path(d="M10 4H5v16h5V4zm9 0h-5v16h5V4z" fill="currentColor")
            | Stop All
