.panel
    .panel-headers
        .button.panel-header__item.panel-header__item--active(data-name="hierarchy")
            | Hierarchy
        .button.panel-header__item(data-name="textures").hidden
            | Textures
        .button.panel-header__item(data-name="animations").hidden
            | Animations
        .button.panel-header__item(data-name="info")
            | Info
    .panel-content
        include ./tree
        include ./textures
        include ./info
        include ./animations
